@import url('https://fonts.googleapis.com/css2?family=Anek+Gurmukhi:wght@100..800&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --color-primary: #0084ff;
  --color-secondary: #aefe28;
  --color-coolgreen: #9eff62;
  --color-accent: #d6ff4d;
  --font-inconsolata: "Inconsolata", monospace;
  --color-intro: #3e3b66;
  --font-anek-gurmukhi: "Anek Gurmukhi", sans-serif;
  --color-coolorange: #ff8d5c;
  --color-coolpurple: #ef3dff;
  --color-form: #00B2FF;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-stroke-1a {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.7);
  }
  .text-stroke-1b {
    -webkit-text-stroke: 1px rgba(0, 0, 0, 1);
  }
  .text-stroke-4 {
    -webkit-text-stroke: 4px rgba(0, 0, 0, 0.15);
  }
  
  /* Dynamic stroke colors using your theme
  .text-stroke-primary {
    -webkit-text-stroke-color: var(--color-primary);
  }
  
  .text-stroke-foreground {
    -webkit-text-stroke-color: var(--foreground);
  } */
}